// NEO X Testnet T4 - RPC URL
NEO_X_URL=https://neoxt4seed1.ngd.network/

// Your Private Key
PRIVATE_KEY=

// Your Wallet Address
MY_ADDRESS=

// Your Deployed Contract Address
CONTRACT_ADDRESS=0x546494491acF698C610513d231e0cB35c1fC59b9